<h1>Poduct Categories</h1>

<table>
<tr>
<th style="text-align:left;">Category</th>
</tr>

<% @catergories.each do |category| %>
<tr>
<td style="text-align:left;"><%= link_to category.name, controller: "products", action: "show", id: category%></td>
</tr>
<% end %>
</table>
