<h1>Poduct Details</h1>

<table>
<tr>
<th>Product Name</th>
<th>Price</th>
</tr>

<% @products.each do |product| %>
<tr>
<td><%= product.productName %></td>
<td><%= product.price %></td>
</tr>
<% end %>
</table>
