<h1>Poduct Details</h1>

<table style="width:200px"> 
<tr>
<th style="text-align:left;"> Product Name</th>
<th style="text-align:left;">Price</th>
</tr>

<% @products.each do |product| %>
<tr>
<td style="text-align:left;"><%= product.productName %></td>
<td style="text-align:left;"><%= product.price %></td>
</tr>
<% end %>
</table>
