<h1>Poducts</h1>

<table style="width:300px">
  <thead>
  <tr>
    <th style="text-align:left;">Product Name</th>
  </tr>
  </thead>
  <tbody>
  <% @products.each do |product| %>
      <tr>
        <td><%= link_to product.productName, controller: "product_details", action: "show", id: product%></td>
      </tr>
  <% end %>
  </tbody>
</table>
<%= will_paginate @products %>